body {
  background: #faf7fa;
}
section {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
section > .mainContent {
  flex: 1;
}
.flexBox:hover .backBox {
  transform: rotateY(180deg);
  background: red;
}

.surveyResultBox {
}
