body {
  background: #faf7fa;
}
section {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
section > .mainContent {
  flex: 1;
}
.flexBox:hover .backBox {
  transform: rotateY(180deg);
  background: red;
}
.homepage-container:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.homepage-container:hover > div > span {
  color: purple;
}
