@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

body {
  background: #faf7fa;
  font-family: 'Single Day', cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
section {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
section > .mainContent {
  flex: 1;
}
.flexBox:hover .backBox {
  transform: rotateY(180deg);
  background: red;
}
.homepage-container:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.homepage-container:hover > div > span {
  color: purple;
}

.resultImg:hover {
  transform: scale(1.3);
  transition: transform 0.3s ease;
}
.weather_data > p {
  margin-top: 1rem;
}
